body {
    text-align: center;
}
#gameTitle {
    padding-bottom: 25px;
    font-size: 65px;
    font-weight: bolder;
}

#currentScore {
    padding-bottom: 25px;
    font-size: 18px;
    font-weight: bolder;
}

#score {
    padding-bottom: 35px;
    font-size: 18px;
    font-weight: bolder;
}

#rock {
    width: 180px;
}

#paper {
    padding-left: 50px;
    padding-right: 50px;
    height: 150px;
}

#scissors {
    width: 165px;
}